@model IEnumerable<ECOE.Models.AlunoQuestao>

@{
    ViewBag.Title = "Resultado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<div class="alert alert-success col-md-6 mt-2" style="margin:auto; margin-bottom:1%;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <i class="material-icons">close</i>
        </button>
        <span style="font-size: 20px; text-align:center; font-weight:bolder;">
            A nota do aluno foi: @ViewBag.nota
        </span>
    </div>*@

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        @ViewBag.nome : @ViewBag.nota
                    </div>
                    <div class="card-body">
                        <table id="datatables" class=" display table-striped table table-sm" style="width:100%">
                            <thead class="thead-dark" style="text-align:center;">
                                <tr>
                                    <th>
                                        Avaliação
                                    </th>
                                    <th>
                                        @Html.DisplayName("Questão")
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Nota)
                                    </th>
                                </tr>
                            </thead>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Questao.Avaliacoes.Nome)
                                    </td>
                                    <td>
                                        @Html.Raw(item.Questao.Descricao)
                                    </td>
                                    <td>

                                        @if (HttpContext.Current.User.IsInRole("Adm") || HttpContext.Current.User.IsInRole("Coordenador") && item.Questao.Avaliacoes.DataAvaliacao <= DateTime.Now)
                                        {
                                            @Html.Action("EditarNota","AlunoAvaliacao", new {QuestaoId = item.QuestaoId, AvaliadorId = item.AvaliadorId, Nota =item.Nota ,  PessoaId = item.PessoaId })

                                        }
                                        else
                                        {
                                            if (item.Nota == 0)
                                            {
                                                <span>
                                                    Não Realizou
                                                </span>

                                            }
                                            else if (item.Nota == 1)
                                            {
                                                <span>
                                                    Realizou Parcialmente
                                                </span>
                                            }
                                            else if (item.Nota == 2)
                                            {
                                                <span>
                                                    Realizou
                                                </span>
                                            }
                                        }

                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-offset-2 col-md-2">
    <a href="@Url.Action("Index","Home")">
        <input type="button" value="Sair" class="btn btn-danger" style="font-weight:bold; font-family:Arial;" />
    </a>
</div>
<script>

    var alterado = false;
    $(document).ready(function (e) {
        $('select').change(function () {
            console.log($(this).val())
            alterado = true;
        })
    });


</script>