@model IEnumerable<ECOE.Models.Avaliacoes>

@{

    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Mensagem = ViewBag.Mensagem;
}



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>



<div class="row">

    @if (Mensagem != null)
    {
        @Html.Action("Modal_Mensagem", "Home", new { Mensagem })
    }

    <div class="alert alert-success col-md-10 mb-2 text-center" style="margin:auto">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <i class="fas fa-times"></i>
        </button>
        <span style="font-size: 20px;font-weight:bolder;">
            Escolha o caso que deseja avaliar
        </span>
    </div>


    <@*div class="card col-lg-12 row">
        <div class="col-sm-6">
            <canvas id="myChart"></canvas>
        </div>
        <div class="col-sm-6">
           
             <canvas id="myChart2"></canvas>

        </div>
    </div>*@
    @if (HttpContext.Current.User.IsInRole("Adm") || HttpContext.Current.User.IsInRole("Coordenador"))
    {
        <div class="card col-lg-4 m-1" style="padding: 0; ">
            <div class="card-header">
                <b>
                    Novo Aluno
                </b>
            </div>
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">http://ecoefadba-001-site1.btempurl.com/Pessoa/CreateAluno?CoordId=<span>@Convert.ToInt32(HttpContext.Current.User.Identity.Name)</span></p>
            </div>
            <div class="card-footer bg-transparent border-0">
                <a href="@Url.Action("CreateAluno", "Pessoa", new { CoordId = Convert.ToInt32(HttpContext.Current.User.Identity.Name) })" class="btn btn-success" style="font-weight:bold;
                 font-family:Arial; ">Casdatrar</a>
            </div>
        </div>
    }

    <div class="card col-lg-4 m-1" style="padding: 0; ">
        <div class="card-header">
            <b>
                Troca de RA
            </b>
        </div>
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">Alunos Cadastrados no primeiro semestre de 2019</p>
        </div>
        <div class="card-footer bg-transparent border-0">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                <b>
                    Trocar
                </b>
            </button>
        </div>
    </div>
    @foreach (var item in Model)
    {
        <div class="card col-lg-4 m-1" style="padding: 0;">
            <div class="card-header">
                <b>
                    @Html.DisplayFor(modelItem => item.Turma.Nome)
                </b>
            </div>
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">@Html.DisplayFor(modelItem => item.Nome)</p>

            </div>
            <div class="card-footer bg-transparent border-0">
                @if (HttpContext.Current.User.IsInRole("Aluno"))
                {
                    <a href="@Url.Action("ResultadoIndividual", "AlunoAvaliacao", new {aluno = Convert.ToInt32(HttpContext.Current.User.Identity.Name), AvaliacaoId = item.AvaliacaoId })" class="btn btn-primary" style="font-weight:bold;
                                      font-family:Arial; ">Nota</a>
                }
                else
                {
                    <a href="@Url.Action("AlunoExistente", "AlunoAvaliacao", new { AvaliacaoId = item.AvaliacaoId })" class="btn btn-primary" style="font-weight:bold; font-family:Arial; ">Avaliar</a>
                }
            </div>
        </div>

    }

</div>



<script>
    var quantidadeArray = @Html.Raw(Json.Encode(ViewBag.quantidades));
    var cursos = @Html.Raw(Json.Encode(ViewBag.curso));

    var ctx = document.getElementById('myChart').getContext('2d');

        var c;
    var q;
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("AvaliacoesCurso")",
            contentType: "application/json",
            success: function (data) {                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   
                console.log(data)
                var cores =poolColors(data.Nomes.length);
                var ctx = document.getElementById('myChart').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                        title: "Avaliações po Curso",
                        labels: data.Nomes,
                        datasets: [{
                            label: data.Nomes,
                            data: data.quantidades,
                            backgroundColor: cores,
                            borderWidth: 1
                        }]                        
                    },
                    options: {
                        maintainAspectRatio: false,
                        legend: { labels: { usePointStyle: true } },
    title: {
            display: true,
            text: "Avaliações po Curso"
        }
                    }
                });

            }
        })
        $.ajax({
            type: "GET",
            url: "@Url.Action("CursosPessoa")",
            contentType: "application/json",
            success: function (data) {
                console.log(data)
                var cores =poolColors(data.Nomes.length);
                var ctx = document.getElementById('myChart2').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                        title: "Pessoas Por Curso E Avaliações po Curso",
                        labels: data.Nomes,
                        datasets: [{
                            label: data.Nomes,
                            data: data.quantidades,
                            backgroundColor: cores,
                            borderWidth: 1
                        }]              
                    },
                    options: {
                        maintainAspectRatio: false,
                        legend: { labels: { usePointStyle: true } },
    title: {
            display: true,
            text: "Alunos por Curso"
        }
                    }
                });

            }
        })
    })

    var dynamicColors = function() {
    var r = Math.floor(Math.random() * 255);
    var g = Math.floor(Math.random() * 255);
    var b = Math.floor(Math.random() * 255);
    return "rgb(" + r + "," + g + "," + b + ")";
    }
    function poolColors(a) {
    var pool = [];
    for(i = 0; i < a; i++) {
        pool.push(dynamicColors());
    }
    return pool;
}
</script>


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        @Html.Action("Modal_Editar_RA", "Pessoa")
    </div>
</div>


