<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ECOE</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="shortcut icon" type="image/x-icon" href="~/IMG/FavIcon.png">
    <!-- TinyMCE -->
    <script src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=8bna9ekf0ugwcthe2mwnwnlb699fmxx3o750mucxseru2706"></script>
    <title>Desafio</title>
    <style type="text/css">
    </style>
</head>

<body class="d-flex flex-column h-100">
    <div class="loader" style="display:inline"></div>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                <img src="~/IMG/logo-white-fadba.png" style="width:100px; height:auto" />
            </a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    @if (HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item ">
                            <a class="nav-link" href="@Url.Action("Index", "Home")">
                                Início
                            </a>
                        </li>
                    }
                    @if (HttpContext.Current.User.IsInRole("Coordenador") || HttpContext.Current.User.IsInRole("Adm"))
                    {
                        <li class="nav-item ">
                            <a class="nav-link" href="@Url.Action("ListaPessoa", "Pessoa")">
                                Pessoas
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="@Url.Action("ListCurso", "Curso")">
                                Cursos
                            </a>
                        </li>
                    }
                    @if (HttpContext.Current.User.IsInRole("Coordenador") || HttpContext.Current.User.IsInRole("Adm"))
                    {
                        <li class="nav-item ">
                            <a class="nav-link" href="@Url.Action("ListTurma", "Turma")">
                                Turmas
                            </a>
                        </li>
                    }
                    @if (HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item ">
                            <a class="nav-link" href="@Url.Action("ListAvaliacao", "Avaliacao")">
                                Avaliações
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="@Url.Action("Sobre", "Home")">
                                Sobre
                            </a>
                        </li>
                    }
                </ul>

                @Html.Action("Logado", "Login")

            </div>
        </nav>
    </header>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="~/Scripts/Site.js"></script>
    <!-- Begin page content -->
    <main role="main" class="flex-shrink-0 mt-5">
        <div class="container mt-3">
            @RenderBody()
        </div>
    </main>

    <footer class="footer mt-auto py-3">
        <div class="container">
            <p>&copy; @DateTime.Now.Year - Ecoe FADBA</p>
        </div>
    </footer>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script type="text/javascript" src="~/DataTables/datatables.min.js"></script>

    @RenderSection("scripts", required: false)








</body>



</html>
