@model IEnumerable<ECOE.Models.Pessoa>

@{
    ViewBag.Title = "ListaPessoa";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Mensagem = ViewBag.Mensagem;
}

@if (Mensagem != null)
{
    <div class="alert alert-success col-md-8 " style="margin-top:1%; margin:auto; margin-bottom:1%;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <i class="material-icons">close</i>
        </button>

        @if (Mensagem == "1")
        {
            <span style="font-size: 20px; text-align:center;">Cadastro efetuado com sucesso!</span>
        }

    </div>
}

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        @using (Html.BeginForm("RemovePessoa", "Pessoa", FormMethod.Post))
        {
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Remover</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Realmente deseja remover
                </div>
                <input type="hidden" id="did" name="id" value="" />
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <input type="submit" value="Remover" class="btn btn-danger">
                </div>
            </div>
        }
    </div>
</div>



<div class="card">
    <div class="card-header">
        <div class="row p-1">
            <h4 class="mr-auto" style="font-weight:bold;">Lista de usuários</h4>
            <a href="CreatePessoa" class=" btn btn-primary">
                Novo Usuário
            </a>
        </div>
    </div>
    <div class="card-body">
        <div id="Filtro">
            <a href="@Url.Action("ListaPessoa", new { alunos = true })" title="Alunos" class="btn btn-outline-secondary">Alunos</a>
            <a href="@Url.Action("ListaPessoa")" title="Usuarios" class="btn btn-outline-secondary">Usuários</a>

        </div>
        <table id="datatables" class=" display table-striped table table-sm" style="width:100%">
            <thead class="thead-dark">
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>RA</th>
                    <th>Acesso</th>
                    <th class="disabled-sorting text-center">Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                        <td>@Html.DisplayFor(modelItem => item.RA)</td>
                        <td>@Html.DisplayFor(modelItem => item.Acesso.Nome)</td>
                        <td class="text-right">
                            <a href="@Url.Action("EditPessoa", new { pessoaId = item.PessoaId })" title="Editar" class="like"><i class="fas fa-edit text-warning"></i></a>
                            <a title="Remover" data-toggle="modal" data-target="#exampleModal" id="remo" onclick="myFunction('@item.PessoaId')" class="like"><i class="fas fa-trash-alt text-danger"></i></a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

@* Script de Remover *@

<script>

    function myFunction(id) {
        $("#did").val(id);

    }

</script>   